.task-item {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
}

.task-item .buttons {
  width: 10%;
}

.title {
  width: 100%;
  font-size: 0.8em;;
}

.task-item .buttons button{
  margin: 2px;
  background: beige;
}


.task-item .buttons button:hover {
  cursor: pointer;
}

.tasklist {
  width: 30vw;
  margin: auto;
}